form {
    border: 1px solid black;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

form * {
    padding: 5px;
}

label {
    display: flex;
    justify-content: space-between;
}
 .error {
     color: red;
 }

 .success {
     color: green;
 }

div {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    width: 50%;
}

body {
    padding: 20px;
    margin: 0;
}

#wrapper {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0 auto;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

#navbar * {
    margin: 0;
    text-decoration: none;
}
