<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'login_reg_app/css/main.css' %}" type="text/css" media="all" />
    </head>
    <body>
        <div id="navbar">
            {% if loggedIn %}
                <a href="/logout" >Log out</a>
                <a href="/show/{{ request.session.id }}">{{ request.session.name }}</a>
            {% else %}
                <p></p>
                <p>Not logged in</p>
            {% endif %}
        </div>
        <div id="wrapper">
            {% block content%}{% endblock %}
        </div>
    </body>
</html>
