{% extends 'login_reg_app/base.html' %}

{% block title%}All Users{% endblock %}

{% block content %}
    {% for message in messages %}
        <p style="color: green;">{{ message }}</p>
    {% endfor %}
    <h2>Users:</h2>
    {% for user in users %}
        <div>
            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
            <p>Email: {{ user.email_address }}</p>
            <a href="/show/{{ user.id }}">Show</a>
            {% if request.session.id == user.id %}
                <a href="/edit/{{ user.id }}">Edit</a>
                <a href="/destroy/{{ user.id }}">Delete</a>
            {% endif %}
        </div>
    {% endfor %}
    {% if not loggedIn %}
        <a href="/" >Go back</a>
    {% endif %}
{% endblock %}
