{% extends 'login_reg_app/base.html' %}

{% block title %}Show User {{ user.first_name }}{% endblock %}

{% block content %}
    {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
    <div>
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email_address }} </p>
        {% if request.session.id == user.id %}
            <a href="/edit/{{ user.id }}">Edit</a>
            <a href="/destroy/{{ user.id }}">Delete</a>
        {% endif %}
    </div>
    <a href="/show" >Go back</a>
{% endblock %}
